
<div class="panel panel panel-primary"> 
    <div class="panel-heading">
      <h2 class="panel-title">Employee</h2>
    </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Username</h3>
  </div>
  <div class="panel-body">
   <%= @employee.username %>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Email</h3>
  </div>
  <div class="panel-body">
   <%= @employee.email %>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Company Name</h3>
  </div>
  <div class="panel-body">
   <%= @employee.company.title %>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Branch Name</h3>
  </div>
  <div class="panel-body">
   <%= @employee.branch.title %>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Job Title</h3>
  </div>
  <div class="panel-body">
   <%= @employee.job_title.title  %>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Job Category</h3>
  </div>
  <div class="panel-body">
   <%= @employee.job_category.title  %>
  </div>


  <div class="panel-heading">
    <h3 class="panel-title">Work Shift</h3>
  </div>
  <div class="panel-body">
   <%= @employee.work_shift.title %>
  </div>



  <div class="panel-heading">
    <h3 class="panel-title">Skillls</h3>
  </div>
  <div class="panel-body">
    <%@employee.skills.each do |skill| %>
      <%= skill.title%>
     <% end -%>  
  </div>


  <div class="panel-heading">
    <h3 class="panel-title">Education</h3>
  </div>
  <div class="panel-body">
    <%@employee.educations.each do |education| %>
      <%= education.title%> 
    <% end -%>
  </div>
</div>
<h3><%= link_to 'Submit Queries',employee_queries_path(@employee),class: "btn btn-default"%></h3>
<%= link_to 'Submit Queries',employee_queries_path(@employee),class: "btn btn-default"%></h3>
