
<div class="panel panel panel-info"> 
  <div class="panel-heading">
    <h2 class="panel-title">Employee</h2>
  </div>
</div>  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Username: <%= @employee.username %></h3>
  </div> 
  <div class="panel-heading">
    <h3 class="panel-title">Email: <%= @employee.email %></h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Company Name: <%= @employee.company.title %></h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Branch Name: <%= @employee.branch.title %></h3>
  </div>  
  <div class="panel-heading">
    <h3 class="panel-title">Job Title: <%= @employee.job_title.title  %></h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Job Category: <%= @employee.job_category.title  %></h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Work Shift: <%= @employee.work_shift.title %></h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">Skillls: <%@employee.skills.each do |skill| %>
      <%= skill.title%>,
     <% end -%></h3>
  </div> 
  <div class="panel-heading">
    <h3 class="panel-title">Education:<%@employee.educations.each do |education| %>
      <%= education.title%>, 
    <% end -%></h3>
  </div>
  </div>
  <div class="button">
  <%= link_to 'Submit Queries',employee_queries_path(@employee),class: "btn btn-primary"%>
</div>
