<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>
<form class="form-inline" role="form">
	  <div class= "form-group">
	    <%= f.label :email ,class: "sr-only"%><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions" %>
	  </div>
	<% end %>
</form>
<%= render "employees/shared/links" %>